@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #fbfbfd;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.dashboard-container {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #848dcf, #a6cfe8, #b897d3) border-box;
}

.modal-container {
  border: 3px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #3c4ed6, #50ade7, #a251e4) border-box;
}